
/*font-family: 'Raleway' / normal;*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('http://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2'),
    format('woff2');}

body {
  font-family: 'Raleway';
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display:flex;
  flex-direction: column;
  max-width: 1400px;
}

/*liens*/

a {text-decoration: none;
  color: #000000;}


nav a:hover {
  color: #0065FC;
  border-top:1px solid #0065FC;
  padding-top: 10px;
}



/*listes*/
li {list-style-type: none;
}

/*header*/

.header {width: 100%; justify-content: space-between;display:flex ; flex-direction:row;
  margin-top: 19px;}

/* logo */

.logo {
  width: 60px;
  height: 20px;
}

/*nav*/
nav a {padding: 0px 50px;}

/*main*/
.main {margin-top: 50px;}

/*icones*/

i {color: #0065FC;}

/*Recherche*/
#recherche {width: 100%; }

  /*formulaire*/

  form{display:flex;border-radius: 15px;width: 40%;}


/* icone location */
.fa-location-dot {
  width: 7%;
  padding: 17px 5px 17px 5px;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;}


/* Marseille, France */
input {width: 40%;
  border: 1px solid #F2F2F2;
  border-left:none;
  border-right: none;
  margin-left:5px;
  font-weight: 700;}
input::placeholder {opacity: 1;}


/* Button */
.bouton {
  width:20%;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: white;}

  /*icone loupe mobile*/

.loupe {display:none;}

.fa-magnifying-glass{
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: white;}

  

/* Filtres */

h2 {margin:0;}

.filtres {width:65%;
display:flex;
justify-content: space-between;
  flex-direction: row;
  margin-top: 25px;
}

.filter {border: 2px solid #F2F2F2;
  border-radius: 25px;
  font-weight: 700;
  background-color: white;
  height: 40px;
}

.filter:hover {
  background: #DEEBFF;}


.ifiltres {padding-left: 10px;
padding-right:10px;
font-size: 15px;}


/*Information*/

.information{display: flex;flex-direction: row;
  width:50%;
  justify-content:space-between;}

.cercle {display: flex;
  border-radius: 50%;
  width: 20px;
  height:20px;
  align-items: center;
  justify-content: center;
    border: 1px solid #F2F2F2;
  }

.fa-info {text-align: center;
  font-size: 10px;}


/*hebergements*/
#hebergements{margin-top: 50px; height:100%;display: flex; gap: 40px;}

.heb {padding:30px;
  background: #F2F2F2;
  width: 75%;
  flex-direction: column;
  border-radius: 20px;
}

/*titres heb h2*/

.titreheb {padding-left:20px;}

.articleheb {margin-top: 30px;
  row-gap: 30px;
display:flex;
  flex-direction: row;
  Flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% / 3 -30px);}

.aheb {width:33%;margin-bottom: 30px;
}

  
  .cardheb {background: white;
    padding: 10px;
    border-radius: 20px;
    }

.imgheb {
  width: 100%;
  height: 100px;
  border-radius : 20px 20px 0px 0px;
  object-fit: cover;}

  /*Afficher plus*/

  .afficher {margin-top: 30px;
    font-weight: 700;}


/*populaires*/

.pop {padding:30px;
  flex-direction: column;
  width: 25%;
  background: #F2F2F2;
  border-radius: 20px;
}

/*titres pop*/

.titrepop{display:flex;
justify-content: space-between;
}

/*icone populaire*/
.fa-chart-line {font-size:22px;}

.articlepop {display: flex;
  flex-direction: column;
  padding-top: 30px;
gap: 30px;}


.apop {
  width:100%;}


.cardpop {background: white;
  border-radius: 20px;
  display: flex;
  height: 150px;
}



.imgpop {object-fit: cover;
  width: 40%;
  border-radius : 20px 0px 0px 20px;
}


.bloctextpop {width:60%;padding: 10px;}

.textpop{height:80%;}

/*icone star*/
.star {height:20%;}



/*Activités*/

#activites {margin-top:50px; margin-bottom:50px; display:flex; flex-direction: column;}

.articleactivites {display:flex;flex-direction: row; padding-top: 30px;
    width:100%; gap:40px; }

.aact {width:25%;}

.cardact {background: white; border-radius: 20px; height: 100%;}

.imgact {object-fit: cover;
  border-radius : 20px 20px 0px 0px;
  width: 100%;
  height: 90%;
}

/*titres activités h3*/

.titreact {padding-left:20px;}


/* Shadow*/
.shadow {filter: drop-shadow(30px 30px 30px#F2F2F2);}


/*Footer*/

.footer {padding: 40px 40px 40px 40px;
  background: #F2F2F2;}


.menufooter {
  display:flex;
  flex-direction:row;
  justify-content: start;
  gap: 250px;
}

.menufooter,
ul {
  padding: 0px;
}

/*Media queries*/

/*2 tablette*/
/*@media screen and (max-width:992px){}

/*3 mobile*/
/*@media screen and (max-width:768px) 
{.header {flex-direction:column;} .header, a {align-items: center;} 
nav {border-bottom : 2px solid #F2F2F2 } 
nav a:hover {color: #0065FC; border-bottom:2px solid #0065FC;}
.formulaire {width: 100%;}
.fa-magnifying-glass{color:white;}.bouton {color: #0065FC;overflow:hidden;}
.filtres {width:100%;flex-wrap: wrap; justify-content: space-evenly;}
.filtres h2 {width: 100%;}
.filter {width: 40%;font-weight: 400;}
}

  
  
  