
/*color charte
bleu = #0065FC
bleu clair = #DEEBFF
gris pour le fond = #F2F2F2*/

/*body : police, largeur max*/

/* /*1 deskstop

@media screen and (min-width:992px;) {}*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('http://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2'), 
  format('woff2');}

body {font-family: 'raleway'; max-width:1400px; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
left: 0.18%;
right: 0.18%;
top: 0%;
bottom: 0%;}

/*flex*/

.container{display:flex;} 

/*liens*/

a {text-decoration: none;
color:#000000;}

/*titres*/

h1{font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;}

h2 {font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;}

h3
{font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #000000;}




/*list*/

li {list-style-type: none;}

/*header*/

.headerline {padding-top:10px;}

/*logo*/

.logo{width: 61.09px;
  height: 19px;
  left: 0px;
  top: 0px;
}

/*nav*/

nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  width: 50%;
height: 19px;
left: 982px;
top: 48px;
color: #000000;
}

nav a:hover{color:#0065FC;
  text-decoration: overline;} 

.a1 {
  left: 36.22%;
right: 34.12%;
top: 0%;
bottom: 0%;}

.a2 {left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;}

/*icons*/

i {color: #0065FC;}

.fa-location-dot {color:#000000; background:#F2F2F2; width: 14px; height: 18px;}

.fa-money-bill-wave{width: 22px; height: 16.26px;}
.fa-person{width: 13.44px; height: 22px;}
.fa-heart{width: 22px; height: 18.33px;}
.fa-dog{width: 22px; height: 22px;}

.fa-star{width: 12px; height: 12px; left: 152px;
  bottom: 12px; left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;}

/*icon Info*/

.fa-info{border: 1px solid #D9D9D9; text-align : center; border-radius: 100%; width: 24px; height: 24px;}

/*icon Pop*/
.fa-chart-line {width: 18px; height: 15.75px; text-align: right;}

/*section recherche*/

.recherche {width: 100%;
  flex-direction:column;}

/*bouton recherche*/

button {color: #FFFFFF;
background: blue;
width: 100px;
height: 21px;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
flex: none;
}

form {
background: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 15px;
display: inline-block;}

  
 /*filter*/ 

 .filtres {justify-content: space-between; flex-direction:row;}

.filter {border: 2px solid #D9D9D9; border-radius: 25px; justify-content: center; 
  display: inline-block;}


.filter:hover {background: #DEEBFF;}

/*sections*/

/*hebergements et populaires */

.hebpoprow {display: flex;
  flex-direction:row;}

/*herbergements*/

.heb {width: 75%;
flex-direction:column;
left: 5%;
right: 82.84%;
top: 89.3%;
bottom: 7.35%;
}

.articleheb {display: flex;
  flex-direction:row;
flex-wrap:wrap;}

.imgheb {width: 246px; height: 124px;
  border-radius: 20px 20px 0px 0px;}

.afficher {flex-direction:column;}

/*populaire*/

.pop {width: 25%;
  flex-direction:column;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F2F2F2;
  border-radius: 20px;}


  .articlepop {display: flex;
    flex-direction:column;}

    .articlepoprow {display: flex;
      flex-direction:row;}


.hebpop{background: #F2F2F2; border-radius: 20px;}

.imgpop {width: 137px; height: 144px;border-radius: 20px 0px 0px 20px;}

article {background: #FFFFFF; border-radius: 20px;}





/*activites*/

.acti {width: 100%;
  display: flex;
  flex-direction:column;}

.articleact {display: flex;
    flex-direction:row;}

.cardact {width:25%;}

.cardact:hover {filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));}

.imgact {width: 302px;border-radius: 20px;}

.cardact + h3{width: 247px;
height: 15px;
left: 19px;
bottom: 20.51px;}


.imgactportparc {height:444.51px;}

.imgactfortdame {height:445px;}

/*footer*/

footer {background : #F2F2F2;
  left: 3.33%;
  right: 3.68%;
  top: 0%;
  bottom: -10.84%;}

.h2footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;}


 .menufooter{justify-content: space-between;}

 .menufooter, ul {padding:0px;}

/*Media queries*/

/*2 tablette*/

/*@media screen and (min-width:768px){}*/

/*3 mobile*/
/*nav a:hover{text-decoration: underline;}*/
